<div class="container">
    <p>
        This site uses the pictures you draw to help 'Train' the artifical intelligence that is used to try and guess what you draw.
        It does not collect any personally identifyable information
    </p>
</div>