<div class="container">
    <p>
        By using this site you agree that it is ok to use the images you draw to
        help 'Train' the artifical intelligence that is used to try and guess what you draw.
    </p>
</div>